{% extends 'master.html' %}
{% block title %}
    Event Details - {{e.name}}
{% endblock %}
{% block content %}
    {% if not edit_view %}
        {% if delete_event %}
        <div class="popup">
            <div class="popup-content">
                <div class="popup-header">Are you sure?</div>
                <div class="popup-message">do you want to delete event id {{ e.id }}?</div>
                <div class="popup-options">
                    <form action="/monitor/details/{{ e.id }}?delete=True" method="post">
                        {% csrf_token %}
                        <input type="submit" value="DELETE">
                    </form>
                    <form action="/monitor/details/{{ e.id }}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="CANCEL">
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    <div class="event-details left-form">
        <h1 id="event_name">{{ e.event_name }}</h1><br>
        <div>
            <span>
                <p id="created_by">Created by <a href="/users/{{ e.created_by}}" target="_blank" rel="noopener noreferrer">{{ e.created_by }}</a></p><br>
            </span>
            <span>
                <label for="creation_date" id=event_creation_date_label">Created:</label>
                    <p id="creation_date">{{ e.creation_date }}</p>
                <label for="updated_date" id="event_updated_date_label">Last update:</label>
                    <p id="updated_date"> {{ e.last_update }}</p>
            </span>
        </div>
        <label for="event_description" id="event_description_label">Event Description:</label><br>
            <p id="event_description">{{ e.event_description }}</p><br>
        <label for="event_start_date">Event start:</label>
            <p id="event_start_date" class="field">{{e.event_start_date}}</p><br>
        <label for="event_end_date">Event end:</label>
            {% if e.event_end_date %}
                <p id="event_end_date" class="field">{{e.event_end_date}}</p><br>
            {% else %}
                <p id="event_end_date" class="field"> ---</p><br>
            {% endif %}
        <label for="event_ticketed">Event ticketed:</label>
            {% if e.event_ticketed %}
                <p id="event_ticketed">Yes</p><br>
                <label for="event_price">Event price:</label>
                <p id="event_price">{{ e.event_price }}</p>
            {% elif e.event_ticketed == False %}
                <p id="event_ticketed">No</p><br>
            {% else %}
                <p id="event_ticketed">No info</p>
            {% endif %}
        {% if e.created_by == user.username or user.username == "milos" %}
            <div class="bottom-bar">
                <a></a>
                <a href="?edit_view=True">
                    <input class="white-button" type="submit" value="Edit Event">
                </a>
                <a href="?delete=True">
                    <input class="red-button" type="submit" value="Delete Event">
                </a>
            </div>
        {% endif %}
    </div>
    {% elif edit_view %}
        <h1>Event id {{ e.id }} edit</h1>
        <div class="form-content">
        <form action="/monitor/details/{{ e.id }}" method="post" class="event-form">
            {% csrf_token %}
             {% if messages %}
                {{ form.user_group }}
                <div class="messages">
                     {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message  }}</p>
                     {% endfor %}
                </div>
              {% endif %}

        <div class="left-form">
            <div class="field-wrapper">
                <label for="{{ form.event_name.id_for_label  }}">Event name: *</label>
                {{ form.event_name }}
                {{ form.event_name.errors }}
            </div>
            <div class="field-wrapper">
                <label for="{{ form.event_description.id_for_label }}">Event description: *</label>
                {{ form.event_description }}
                {{ form.event_description.errors }}
            </div>
            <div class="field-wrapper">
                <label for="{{ form.event_start_date.id_for_label }}">Event start: *</label>
                {{ form.event_start_date }}
                {{ form.event_start_date.errors }}
            </div>
            <div class="field-wrapper">
                <label for="{{ form.event_end_date.id_for_label }}">Event End:</label>
                {{ form.event_end_date }}
                {{ form.event_end_date.errors }}
            </div>
            <div class="field-wrapper">
                {{ form.lead_person.errors }}
                <label for="{{ form.lead_person.id_for_label }}">Lead person:</label>
                {{ form.lead_person }}
            </div>
            <div class="field-wrapper">
                <label for="{{ form.event_ticketed.id_for_label }}">Event ticketed: *</label>
                {{ form.event_ticketed }}
                {{ form.event_ticketed.errors }}
            </div>
            <div class="field-wrapper">
                <label for="{{ form.event_price.id_for_label }}">Event price:</label>
                {{ form.event_price }}
                {{ form.event_price.errors }}
            </div>

        </div>
    <div class="bottom-bar">
        <a></a>
        <input id="submit" type="submit" value="Save Event">
    </div>
    </div>
    {% endif %}
{% endblock %}