{% extends "master.html" %}

{% block title %}
    Events App
{% endblock %}
    {% block content %}
{% if user.is_authenticated %}
        <h1>Helloevent!</h1>
        <div class="parent-tile">
            <a href="create/">
                <div class="tile">
                    <span>Create Event</span>
                </div>
            </a>
            <a href="monitor/">
               <div class="tile">
                   <span>Open Monitor</span>
               </div>
            </a>
            <a href="search/">
                <div class="tile">
                    <span>Open Search</span>
                </div>
            </a>
        </div>

{% else%}
    <div class="topnav">
        <a class="active" href="/accounts/login/">Login</a>
        <a href="/accounts/signup/">Sign Up</a>
        <a href="/forgotten_password/">Forgotten Password</a>
        <a href="/events_help" class="split" target="_blank" rel="noopener noreferrer">Help</a>
    </div>
    <h1>Helloevent!</h1>
    <a href="{% url 'login' %}">click here to login</a>

{% endif %}
{% endblock %}
