{% extends master.html%}
{% block title %}
    Login page
{% endblock %}

{% block content %}
    <h1>Log In Page</h1>
    <form method="post">
        {% csfr_token %}
        <div class="field-wrapper">
            <label for="{{ form.user.id_for_label }}">Login:</label>
            {{ form.user }}
        </div>
        <div>
            <label for="{{form.password.id_for_label}}">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit">Log In</button>
    </form>
{% endblock %}
