{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/accounts/login/">Login</a>
        <a href="/accounts/signup/">Sign Up</a>
        <a href="/accounts/?????/">Password Reset</a>
        <a href="/events_help" class="split" target="_blank" rel="noopener noreferrer">Help</a>
    </div>
{% block content %}
{% endblock %}
</body>
</html>