body {
  background-color: lightgray;
  font-family: verdana;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

.event-form label {
  color: black;
  font-size: 18px;
  display: table-cell;
  width: 200px;
  margin-bottom: 10px;
}

.event-form input {
  margin-left: 80px;
  display: table-cell;
  width: 350px;
}

.event-form textarea {
  margin-left: 80px;
  display: table-cell;
  width: 352px;
}

.event-form select {
  margin-left: 80px;
  display: table-cell;
  width: 358px;
}

.bottom-bar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 0px;
}

.left-form {
  position: absolute;
  left: 25px;
  padding-bottom: 50px;
}

.event-form .field-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.bottom-bar input {
  width: 250px;
  border: 1px solid white;
  margin-left: 10px;
}

.bottom-bar .red-button {
  background: red;
  color: black;
  font-weight: bold;
}

.event-form .error {
  background: red;
  height: 30px;
  font-weight: bold;
}

.event-form .errorlist {
  background: red;
  list-style: none;
}

.event-form .space {
  padding-bottom: 1px;
}

div.parent-tile {
  margin: 30px 0px 100px 0px;
}

div.tile {
  float: left;
  border = 1px;
  background-color: #333;
  height: 150px;
  width: 150px;
  margin: 0px 50px 0px 50px;
  color: #f2f2f2;
  text-align: left;
  vertical-align: text-bottom;
  line-height: 300%;
}

.tile:hover {
  background-color: #04AA6D;
}

.tile span {
  vertical-align:bottom;
  padding-left: 15px;
  height: 150px;
  display: table-cell;
}

.event-details {
  display: block;
}

.event-details p {
  display: inline-block;
}

.event-details label {
  display: inline-block;
  font-weight: bold;
  width: 120px;
}

.event-details #event_description_label {
  width: 200px;
}

.event-details #event_description {
  margin-left:20px;
}

.monitor-event-list {
  padding-left: 30px;
  list-style: none;
}

.monitor-item-wrapper:nth-child(even) {
  background: #333;
  color: #f2f2f2;
}

.monitor-item-wrapper:nth-child(odd) {
  background: #04AA6D;
}

.monitor-item-wrapper a {
  color: #f2f2f2;
  display:flex;
}

.monitor-item-wrapper a div {
  margin-right: 100px;
}

.monitor-item-wrapper .event-name {
  position: sticky;
  left: 180px;
}

.monitor-item-wrapper .event-date {
  position: sticky;
  left: 600px;
}

.monitor-filters {
  padding-left: 30px;
  padding-bottom: 15px;
}

.monitor-filters-fields {
    display: flex;
}

.active-filters {
  padding-top: 10px;
}

.popup {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.popup-content {
  background-color: lightgray;
  height: 100px;
  width: 300px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  text-align: center;
}